# Windows
# STUDIO5000_DOC_PATH=C:\Program Files (x86)\Rockwell Software\Studio 5000\Logix Designer\ENU\v36\Bin\Help\ENU\rs5000
# STUDIO5000_SDK_PATH=C:\Users\Public\Documents\Studio 5000\Logix Designer SDK\python
# PYTHON312_PATH=C:\Users\YourUsername\AppData\Local\Programs\Python\Python312\python.exe

# WSL
# STUDIO5000_DOC_PATH=/mnt/c/Program Files (x86)/Rockwell Software/Studio 5000/Logix Designer/ENU/v36/Bin/Help/ENU/rs5000
# STUDIO5000_SDK_PATH=/mnt/c/Users/Public/Documents/Studio 5000/Logix Designer SDK/python
# PYTHON312_PATH=/mnt/c/Users/YourUsername/AppData/Local/Programs/Python/Python312/python.exe